<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8rvy-o9ZQ-0oBW-vbFjNRxAW26VjDKpc</string>
	<key>GCM_SENDER_ID</key>
	<string>306956430654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>financas-1b0ee</string>
	<key>STORAGE_BUCKET</key>
	<string>financas-1b0ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306956430654:ios:b785a7e8165c1e90f7506f</string>
</dict>
</plist>